body {
  margin: 0;
  padding: 0;
  font-family: sans-serif,Verdana, Geneva, Tahoma;
  background-color: var(--secondary-color);

}

header {
  display: flex;
  justify-content: l;
  align-items: center;
  height: 60px;
  background-color:  var(--accent-color);
}
header img {
  height: 90px;
}

main {
  display: flex;
}

aside {
  width: 200px;
  background-color:var(--off-color);
  padding: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin-bottom: 10px;
  padding: 10px;

}

 aside li:hover{
  cursor: pointer;
  color: #f05462;
  background: var(--primary-color);
}


aside a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 20px;
}

.card {
  width: 200px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}





