:root{
  --primary-color: #04364a;
  --secondary-color: #176b87;
  --off-color: #64ccc5;
  --accent-color: #dafffb;
}



*{
  font-family: sans-serif,Verdana, Geneva, Tahoma;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color: var(--primary-color);

}

header {
  display: flex;
  justify-content: l;
  align-items: center;
  height: 60px;
  background-color:  var(--accent-color);
}
header img {
  height: 90px;
}



a {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: var(--accent-color);
}
a:hover{
  color: var(--off-color);
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

th,td{
  padding: 8px;
  text-align: left;
  border: 1px solid var(--accent-color);
  color: #fff;
}

th{
  background-color: var(--secondary-color);
}


footer{
  background-color: var(--secondary-color);
  padding: 20px;
}

footer p{
  padding: 10px;
  color: var(--accent-color);
  text-align: center;
}